<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.jay.flipview"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".flipview.flipviewview.FlipActivity">

        </activity>
        <activity android:name=".flipview2.flipview2view.Flip2Activity">
        </activity>
        <activity android:name=".flipview2.flipview2view.FlipTextViewActivity"/>
        <activity android:name=".flipview2.flipview2view.FlipButtonActivity"/>
        <activity android:name=".flipview2.flipview2view.FlipComplexLayoutActivity"/>
        <activity android:name=".flipview2.flipview2view.FlipDeleteAdapterActivity"/>
        <activity android:name=".flipview2.flipview2view.FlipAsyncContentActivity"/>
        <activity android:name=".flipview2.flipview2view.FlipTextViewAltActivity"/>
        <activity android:name=".flipview2.flipview2view.FlipHorizontalLayoutActivity"/>
        <activity android:name=".flipview2.flipview2view.FlipTextViewXmlActivity"/>
        <activity android:name=".flipview2.flipview2view.Issue5Activity"/>
        <activity android:name=".flipview2.flipview2view.FlipFragmentActivity"/>
        <activity android:name=".flipview2.flipview2view.FlipDynamicAdapterActivity"/>
        <activity android:name=".flipview2.flipview2view.FlipWebViewActivity"/>
        <activity android:name=".flipview2.flipview2view.Issue51Activity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>